/*
    Useful colors
    rgb(21,31,41) - elements background
    rgb(13, 18, 22) - main background
    rgb(235, 233, 228) - borders
    rgb(32, 36, 54) - complimentary dark
    rgb(50, 57, 88) - complimentary mid-dark
    rgb(61, 72, 119) - complimentary mid-light
    rgb(105, 121, 190) - complimentary light
    rgb(59, 59, 59) - shadow
    rgb(214, 106, 73) - navbar links
*/

#navbar .home-page__navbar{
    color: rgb(214, 106, 73);
}

#personal-pic {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto; 
    width: 40%;
    margin-top: 100px;
    margin-bottom: 50px;
    border: 12px solid rgb(235, 233, 228);  
}

h3 {
    font-weight: lighter;

    color: rgb(235, 233, 228);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.description {
    text-align: center;
    font-size: 24px;
    color:  rgb(235, 233, 228);
    margin: 40px;
}

